.content {
  margin-top: 105px;
}

.tags-post {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  .label-tags {
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0 5px 5px 0;

    &:last-child {
      margin: 0 0 5px 0;
    }
  }
}

.dark-list {
  padding: 10px;

  a {
    margin: 0 5px 5px 0;

    &:last-child {
      margin: 0 0 5px 0;
    }
  }
  .label-tags {
    background-color: rgba(0, 0, 0, 0.4)!important;
  }

  .label-tags:hover,
  .label-tags:focus {
    background-color: rgba(0, 0, 0, 0.8)!important;
  }
}

nav {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: unset!important;
  border-radius: unset!important;
  border-bottom: 2px solid #444444!important;

  .container-fluid .navbar-brand {
    margin-left: unset!important;
    height: unset;
  }

  .navbar-toggle i {
    font-size: 26px;
  }

  .brand-image {
    padding: 0;
    font-size: 32px;
    padding-right: 10px;
  }

  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li>a {
    font-size: 16px;
  }

  li>a:hover {
    text-decoration: none;
    background-color: unset!important;
  }

  a {
    color: #34495e;

    &:hover {
      color: black;
    }
  }

  @media (min-width: 768px) {
    .navbar-nav {
      margin: 7.5px 0 0 0;
    }
  }
}

.social-buttons {
  a {
    outline: none;
  }

  a:focus,
  a:hover,
  button:focus,
  button:hover,
  .btn.active.focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn:active:focus,
  .btn:focus {
    outline: none;
    text-decoration: unset;
    outline-offset: unset;
  }
  button {
    width: 120px;
  }
}

@media (max-width: 767px) {
  .social-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0;

    button {
      margin-right: unset !important;
      display: flex;
      width: 50px;
      height: 50px;
      justify-content: center;
      font-size: x-large;
      border: none;

      i {
        padding: unset;
      }
    }
  }
}

/* Posts on main page */
.posts {
  * {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .post-box {
    min-height: 250px;
    padding: 30px 10px 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    opacity: 0.8;

    a, h1 {
      color: white;
      font-size: 32px;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        font-size: 33px;
      }
    }
  }

  .post-box:hover,
  .post-box:focus {
    opacity: 1;
    cursor: pointer;
  }
}
/* Posts on main page */


/* Posts */
main {

  .categories-list {
    display: flex;
    flex-direction: column;

    * {
      -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }

    h3 {
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    h2 {
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    .category-wrapper {
      .post-box {
        min-height: 250px;
        padding: 30px 10px 15px 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
        opacity: 0.8;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }

        a, h1 {
          color: white;
          font-size: 32px;
          text-decoration: none;

          &:hover {
            text-decoration: none;
            font-size: 33px;
          }
        }
      }
    }
  }

  .post {
    * {
      -webkit-transition: .3s ease-in-out;
      -moz-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    .post-wrapper {
      min-height: 400px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 20px 40px 20px;
      margin-bottom: 40px;
    }
    h1 {
      color: white;
      font-size: 48px;
      text-decoration: none;
      margin-bottom: 30px;
      text-transform: uppercase;
      font-weight: lighter;
    }
    .post-date {
      font-size: 18px;
      color: white;
      font-weight: lighter;
    }

    .back-button {
      background: none;
      border: none;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      outline: none;
      margin: 20px auto;
      display: block;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.related {
  * {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  h3 {
    margin-bottom: 20px;
  }
  ul {
    li {
      margin-bottom: 10px;
    }
  }
  .related-post-image {
    min-height: 120px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 15px;
    color: white;
    font-weight: 300;
    font-size: 24px;
    opacity: 0.8;
  }

  .related-post-image:hover {
    opacity: 1;
    font-size: 25px;
  }
}
