<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <header class="masthead navbar-fixed-top">
      <nav class="navbar">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <a class="navbar-brand" href="/" title="Home">
              <i class="fa fa-laptop brand-image" aria-hidden="true"></i>
              Blog by Stanis
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/tags">Теги</a></li>
              <li><a href="/categories">Категории</a></li>
              {% for page in site.pages_list %}
                <li><a href="{{ page[1]  }}">{{ page[0] }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container content">
      <main>
        {{ content }}
      </main>
    </div>
    <footer class="footer">
      <small>
        &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. Stanislav Kryzhanovsky
      </small>
      <div class="social-buttons">
        <a class="text-white" href="https://github.com/stanislavec"><button type="button" class="btn btn-github --mr-10"><i class="fa fa-github --pr-10"></i><span class="hidden-xs">GitHub</span></button></a>
        <a class="text-white" href="https://www.instagram.com/stanislaveec/"><button type="button" class="btn btn-instagram --mr-10"><i class="fa fa-instagram --pr-10"></i><span class="hidden-xs">Instagram</span></button></a>
        <a class="text-white" href="mailto: blizzak007@yandex.ru"><button type="button" class="btn btn-primary"><i class="fa fa-envelope-o --pr-10"></i><span class="hidden-xs">Mail me</span></button></a>
      </div>
    </footer>
    {% if site.analytics_id %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.analytics_id }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/footer.js"></script>
  </body>
</html>
