---
layout: default
---

<article class="post">
  <div
    class="post-wrapper"
    style="background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8)),url('{{ page.image }}');"
  >
    <h1 class="post-title">{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: "%d-%m-%Y" }}</time>
  </div>
  {{ content }}

  <button class="back-button" onclick="history.back();">
    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
    <span>Назад</span>
  </button>

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Другие посты</h3>
  <ul class="related-posts row">
    {% for post in site.related_posts limit:3 %}
      <li class="col-md-3 col-sm-4 col-xs-12">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <div
            class="related-post-image"
            style="background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8)),url('{{ post.image }}');"
          >
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d-%m-%Y" }}</time></small>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
